.vote-container {
    display: flex;
    align-items: center;
    margin: 20px 0 -20px 0;
    font-family: Arial, sans-serif;
}

.vote-button {
    padding: 0!important;
    margin: 0 20px 0 0;
    background: none;
    font-size: 24px;
    border: none!important;
    outline: none!important;
    color: #888;
    cursor: pointer;
    transition: color 0.2s ease;
}

.downvote {
    margin-left: 20px;
}

.vote-button:hover {
    color: #ffffff;
}

.vote-count {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0;
}
